@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
            
            * {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: transparent;
            }
            body {
                background-color: blueviolet;
                height: 100vh;
                width: 100vw;
                color: white;
            }
            .nav-bar {
                background-color: blueviolet;
                display: flex;
                justify-content: space-between;
                height: 50px;
                color: white;
                font-family: 'Roboto';
                font-size: 20px;
                border-bottom: 5px solid white;
            }
            nav ul li {
                display: inline-block;
                list-style: none;
                padding: 0 25px 0 25px;
                height: 50px;
            }
            ul {
                display: flex;
                height: 50px;
                align-items: center;
            }
            #title {
                font-size: 32pt;
                padding-left: 15px;
                font-family: 'Tourney';
            }
            nav li:hover {
                background-color: white;
                color: blueviolet;
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: inherit;
                margin-top: 10px;
            }
            #graph {
                margin-top: 5%;
                display: inline-block;
                margin-left: 35%;
            }
            #history {
                color: #8a2be2;
                background-color: white;
                width: 80vw;
                font-family: 'Roboto';
                font-size: 32pt;
                border: 5px solid white;
                margin-left: 11%;
                margin-top: 5%;
                text-align: center;
            }
            #insert {
                text-align: left;
                font-family: 'monospace';
                font-size: 18pt;
                margin-top: 3%;
            }