@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
            * {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: transparent;
            }
            body {
                background-color: #8a2be2;
                height: 100vh;
                width: 100vw;
            }
            #title {
                font-family: 'Tourney';
                font-size: 48pt;
                text-align: center;
                color: white;
                margin-top: 7%;
            }
            #login {
                border: 2px solid blueviolet;
                background-color: blueviolet;
                color: white;
                padding-top: 5px;
                padding-bottom: 8px;
                font-family: 'Tourney';
                font-size: 28pt;
                height: 50px;
            }
            #login:hover {
                background-color: white;
                border: 2px dashed blueviolet;
                color: blueviolet;
            }
            #content {
                background-color: white;
                height: 500px;
                width: 500px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 2%;
                box-shadow: 2px 7px 10px black;
                color: blueviolet;
                font-family: 'Ubuntu';
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 20px;
                font-size: 16pt;
                padding-right: 10px;
            }
            input {
                border: 2px dashed blueviolet;
            }
            #logo {
                font-family: 'Tourney';
                font-size: 68pt;
                float: left;
                color: blueviolet;
                background-color: white;
                margin: 8px;
                 padding: 2px;
                 border-radius: 5px;
            }
            #wrapper {
                background: url(hellocoin.png);
                height: 100vh;
                width: 100vw;
                background-repeat: repeat round;
                animation: bgani 80s linear infinite;
                background-size: 200px 200px;
            }
            @keyframes bgani {

                0% {
                    background-position: top right;
                }
                100% {
                    background-position: bottom left;
                }
            }
            textarea {
                border: 2px dashed blueviolet;
                resize: none;
            }