            @import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
             * {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: transparent;
            }

            body {
                background-color: blueviolet;
                height: 100vh;
                width: 100vw;
            }
            #logo {
                font-family: 'Tourney';
                font-size: 68pt;
                float: left;
                color: white;
            }
            #title {
                margin-top: 5%;
                font-family: 'Tourney';
                font-size: 42pt;
                text-align: center;
                color: white;
            }
            #content {
                background-color: white;
                height: 535px;
                width: 500px;
                margin-top: 1%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 2%;
                box-shadow: 2px 7px 10px black;
                color: blueviolet;
                font-family: 'Ubuntu';
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 80% 20%;
                grid-template-areas: "grid1 grid2"
                                      "grid3 grid3";
                padding-left: 20px;
                font-size: 16pt;
                padding-right: 10px;
            }
            #g1 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                grid-area: grid1;
            }
            #g2 {
                grid-area: grid2;
                font-size: 12pt;
                padding-top: 30%;
            }
            #g3 {
                grid-area: grid3;
            }
            #checkbx {
                font-size: 12pt;
            }
            
            #login {
                border: 2px solid blueviolet;
                background-color: blueviolet;
                color: white;
                padding-top: 5px;
                padding-bottom: 8px;
                font-family: 'tourney';
                font-size: 28pt;
                height: 50px;
                width: 100%;
            }
            #login:hover {
                background-color: white;
                border: 2px dashed blueviolet;
                color: blueviolet;
            }
            #login:disabled {
                color: white;
                border: 2px solid rgb(163, 116, 207);
                background-color: rgb(163, 116, 207);
            }
            #mail, #user{
                margin-top: 10px;
                font-size: 14pt;
                color: blueviolet;
                border: 2px dashed blueviolet;
                padding: 2px;
                margin-left: 10px;
            }
            .pass {
                margin-top: 10px;
                font-size: 14pt;
                color: blueviolet;
                border: 2px dashed blueviolet;
                padding: 2px;
                margin-left: 10px;
            }
            .pass:focus {
                margin-top: 10px;
                font-size: 14pt;
                color: blueviolet;
                border: 2px dashed blueviolet;
                padding: 2px;
                margin-left: 10px;
            }
            .fail{
                font-size: 14pt;
                color: red;
                border: 2px dashed red;
                 margin-top: 10px;
                padding: 2px;
                margin-left: 10px;
            }
            .success {
                font-size: 14pt;
                color: green;
                border: 2px dashed green;
                padding: 2px;
                margin-top: 10px;
                margin-left: 10px;
            }